<div className="wrapper">
  <div className="name-div">
    Darren Sim
  </div>
  <div className="title-div">
    Aspiring Software Engineer & UI/UX Designer
  </div>
  <div className="container">
    <div className="body">
      <div className="display-photo-div">
        <img id="display-photo" src="../../assets/images/darren.jpg">
      </div>
      <div className="about-div">
        <div className="about-text">
          Hey there! I am Darren Sim, 
          a Penultimate Computer Science Major at National University of Singapore (NUS).
          <br/>
          <br/>
          My area of expertise is Front-end Development and UI/UX Design, although I sometimes do backend and game development stuff as well. 
          You may have a look at the projects I have done so far below.
          <br/>
          <br/>
          Outside of coding, my other hobbies include Electric Guitar, Amateur Photography and Japanese Culture.
        </div>
      </div>
    </div>
  </div>
</div>

<!--

<div className="body">
  <div className="name">
    Darren Sim
  </div>
  <div className="title">
    Aspiring Software Engineer & UI/UX Designer
  </div>
  <div className="container">
    <div className="about-div">
      <div className="display-photo-div">
        <img id="display-photo" src="../../assets/images/darren.jpg">
      </div>
      <div className="about">
        Hey there! I am Darren Sim, 
        a Penultimate Computer Science Major at National University of Singapore (NUS) 
        with focus areas on Database Systems and Computer Graphics & Game Development.
        <br/>
        <br/>
        My area of expertise is Front-end Development (with React/Angular) and UI/UX Design. 
        You may have a look at the projects I have done so far below.
        <br/>
        <br/>
        Outside of coding, my other hobbies include Electric Guitar, Amateur Photography and Teaching.
      </div>
    </div>
  </div>
</div>
-->