.wrapper {
  display: block;
  height: 60px;
  background-color: #EFE2BA;
}

.header-div {
  float: left;
  width: 70%;
  height: inherit;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.25rem;
}

.s-menu-wrap {
  display: block;
  float: right;
  padding: 0px 15px 0px 15px;
  height: 60px;
  width: 60px;
}

.s-img-wrap {
  height: inherit;
  width: inherit;
}

.s-img-wrap img {
  height: inherit;
  width: inherit;
}

nav {
  display: flex;
  position: absolute;
  background-color: #ddd5bd;
  top: 60px;
  left: 0;
  width: 100%;
  transition: bottom 0.5s ease;
}

.nav-toggle {
  top: -25%;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: inherit;
}

nav ul li {
  width: inherit;
  margin: 5px 0px 5px 0px;
}

nav ul li a, nav ul li span  {
  width: 95%;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: black;
  font-size: 1.25rem;
  margin-left: 5px;
}

nav ul li a:visited {
  color: black;
}

/* Tablet/Desktop devices */
@media screen and (min-width: 1024px) {
  .s-menu-wrap {
    display: none;
  }
  .header-div {
    width: 30%;
  }
}

.link-bar {
  height: inherit;
  width: fit-content;
  float: left;
  font-size: 2rem;
  width: 35%;
}

.icon-bar {
  height: inherit;
  width: auto;
  float: left;
  min-width: 160px;
}

#icon {
  height: 60px;
  width: 60px;
  margin: 0px 10px 0px 10px;
  float: left;
}

#icon img {
  margin: 5px;
  height: 50px;
  width: 50px;
}

#icon img:hover {
  opacity: 0.5;
}

.contact-btn-div {
  float: right;
  width: auto;
  height: auto;
  padding: 10px 3vw 10px 10px;
}

.contact-btn {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  border: black 3px solid;
  border-radius: 8px 8px 8px 8px;
  height: 40px;
  min-width: 145px;
}

.contact-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.contact-btn:focus {
  outline: none;
  box-shadow: none;
}