<div className="header">
  <div className="header-name">
    <span className="name">DARREN SIM</span>
  </div>
  <div className="link-bar">
  </div>
  <div className="icon-bar">
    <div id="icon">
      <a href="https://github.com/Kalsyc">
        <img src="../../assets/github-logo.png">
      </a>
    </div>
    <div id="icon">
      <a href="https://linkedin.com/in/kalsyc/">
        <img src="../../assets/linkedin-logo.png">
      </a>
    </div>
  </div>
  <div className="contact-btn">
    <button id="contact-btn" v-on:click="sendEmail()">Contact Me!</button>
  </div>
</div>