.header {
  background-color: palevioletred;
  width: 100%;
  height: 60px;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
}

.header-name {
  width: 25%;
  height: 100%;
  font-size: 2.25rem;
}

.name {
  height: inherit;
  width: auto;
  float: right;
  min-width: 210px;
}

.link-bar {
  height: inherit;
  width: 40%;
  margin: 0px 60px 0px 60px;
}

.link {
  height: inherit;
  width: fit-content;
  float: left;

  font-size: 2rem;
}

.icon-bar {
  height: inherit;
  width: auto;
  float: left;
  min-width: 160px;
}

img {
  margin: 5px;
  height: 50px;
  width: 50px;
}

#icon {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

img:hover {
  opacity: 0.5;
}

.contact-btn {
  width: auto;
  height: 100%;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

#contact-btn {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  border: black 3px solid;
  border-radius: 8px 8px 8px 8px;
  height: 40px;
  min-width: 145px;
}

#contact-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

#contact-btn:focus {
  outline: none;
  box-shadow: none;
}

@media all and (max-width: 992px) {
  .header {
    width: 100%;
  }
  .icon-bar {
    min-width: 120px;
  }
  #contact-btn {
    min-width: 0px;
  }
}